* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #1c2230;
    font-family: 'Jost', sans-serif;
    overflow-x: hidden;
}

.logo {
    margin-right: auto;
    cursor: pointer;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: ;

}

.nav {
    display: flex;
    list-style: none;
}

.nav li a {
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px;
    color: white;
    transition: all 0.4s;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    letter-spacing: 0.5px;
}

a::after {
    content: "";
    display: block;
    position: absolute;
    background: #240f70;
    height: 3px;
    width: 0;
    bottom: -5px;
    transition: 0.4s;


}

.nav li a:hover {
    color: #43b2d0;
}

a:hover::after {
    content: "";
    display: block;
    position: absolute;
    background: crimson;
    height: 3px;
    width: 70%;
    bottom: -5px;
    transition: 0.4s;

}

.img {
    margin-left: 355px;
    margin-top: 45px;
}

.heading {
    color: white;
    text-align: center;
}

.heading h1:hover {
    color: #4fc5d3;
    transition: all ease-in 0.3s;

}

.pera {
    color: white;
    text-align: center;
    margin-top: 12px;
    bottom: -100px;
    left: 550px;

}

.pera p:hover {
    color: #4fc5d3;
    transition: all ease-in 0.3s;
}


.btn {
    border: none;
    border-radius: 20px;
    margin-left: 675px;
    margin-top: 17px;
    background-color: #4fc5d3;
    padding: 10px 50px 10px 50px;
    color: white;
    font-weight: 800;
    transition: all 0.4s;
    display: block;
    cursor: pointer;
}

.btn:hover {
    background-color: #151f2b;
}

.com {
    color: white;
    text-align: center;
    display: inline-block;
    margin-left: 286px;
    margin-top: 45px;

}

.com:hover {
    color: #4fc5d3;
    transition: all ease-in 0.3s;
}

.security {
    color: white;
    text-align: center;
    display: inline-block;
    margin-left: 205px;
}

.security:hover {
    color: #4fc5d3;
    transition: all ease-in 0.3s;
}

.time {
    color: white;
    text-align: center;
    display: inline-block;
    margin-left: 277px;
    margin-top: 70px;
}

.time:hover {
    color: #4fc5d3;
    transition: all ease-in 0.3s;
}

.file {
    color: white;
    text-align: center;
    display: inline-block;
    margin-left: 200px;
}

.file:hover {
    color: #4fc5d3;
    transition: all ease-in 0.3s;
}

.box1 {
    color: white;
    display: flex;


}

.pngimg {
    width: 716px;
    height: 453px;
}

.pngimg img {
    width: 70%;
    margin-left: 119px;
    margin-top: 70px;

}


.stay {
    color: white;
    justify-content: right;
    margin-top: 130px;
    margin-left: 103px;
}

.stay:hover {
    color: #4fc5d3;
    transition: all ease-in 0.3s;
}

.stay img {
    cursor: pointer;
    margin-bottom: -4px;
}

.link {
    text-decoration: none;
    color: #469f9b;
    cursor: pointer;

}

.quotes {
    position: relative;
    z-index: 0;
    margin-bottom: -166px;
    margin-left: 125px;
}

.satish:hover {
    color: #4fc5d3;
    transition: all ease-in 0.3s;
}

.box2 {
    width: 340px;
    height: 180px;
    border: none;
    border-radius: 10px;
    background-color: #21293c;
    margin-left: 134px;
    text-align: left;
    padding: 23px 10px 15px 15px;
    margin-top: 150px;
    position: relative;
    z-index: 1;
    color: white;

}

.box2 img {
    width: 8%;
    border: none;
    border-radius: 70%;
    margin-top: 17px;
}

.founder {
    font-size: 10px;
    margin-left: 30px;
}

.box2 h6 {
    font-size: 12px;
    margin-top: -34px;
    margin-left: 30px;
}


.box3 {
    width: 340px;
    height: 180px;
    border: none;
    border-radius: 10px;
    background-color: #21293c;
    margin-left: 134px;
    text-align: left;
    padding: 23px 10px 15px 15px;
    margin-top: 150px;
    color: white;
    margin-top: -180px;
    margin-left: 540px;
}

.bruce:hover {
    color: #4fc5d3;
    transition: all ease-in 0.3s;
}

.box3 img {
    width: 8%;
    border: none;
    border-radius: 70%;
    margin-top: 17px;
}

.ceo {
    font-size: 10px;
    margin-left: 30px;
}

.box3 h6 {
    font-size: 12px;
    margin-top: -34px;
    margin-left: 30px;
}

.box4 {
    width: 340px;
    height: 180px;
    border: none;
    border-radius: 10px;
    background-color: #21293c;
    margin-left: 134px;
    text-align: left;
    padding: 23px 10px 15px 15px;
    margin-top: 150px;
    color: white;
    margin-top: -180px;
    margin-left: 948px;
}

.box4 img {
    width: 8%;
    border: none;
    border-radius: 70%;
    margin-top: 17px;
}

.lva:hover {
    color: #4fc5d3;
    transition: all ease-in 0.3s;
}

.huddle {
    font-size: 10px;
    margin-left: 30px;
}

.box4 h6 {
    font-size: 12px;
    margin-top: -34px;
    margin-left: 30px;
}

.searchbar {
    z-index: 2;
    position: absolute;
    color: white;
    text-align: center;
    background-color: #2a3245;
    border: none;
    border-radius: 5px;
    margin-left: 400px;
    margin-top: 265px;
    height: 230px;
    padding: 30px;
}

.searchbar:hover {
    color: #4fc5d3;
    transition: all ease-in 0.3s;
}

.searchbar h1 {
    margin-bottom: 10px;
}

.searchbar input {
    height: 40px;
    width: 460px;
    border: none;
    border-radius: 18px;
    margin-top: 15px;
}

.searchbar button {
    height: 40px;
    width: 165px;
    border: none;
    border-radius: 18px;
    background-color: #4fc5d3;
    color: white;
    font-weight: 800;
    transition: all ease 0.4s;
    cursor: pointer;
}

.searchbar button:hover {
    background-color: #151f2b;
}

footer {
    margin-top: 355px;
    color: white;
    padding: 100px;
    padding-top: 150px;
    background-color: #0c1524;
    z-index: 1;
    position: absolute;
}

footer img {
    cursor: pointer;
}

.Add {
    display: flex;
    margin-top: 20px;
}

.Add p:hover {
    color: #4fc5d3;
    transition: all ease-in 0.5s;
}

.Add i {
    margin-right: 16px;
    margin-top: 4px;
    color: #4fc5d3;
    transition: all ease 0.4s;
    cursor: pointer;
}

.Add i:hover {
    color: white;
}

.contect {
    margin-left: 490px;
    margin-top: -66px;
    cursor: pointer;
}

.contect:hover {
    color: #4fc5d3;
    transition: all ease 0.4s;
}

.contect i {
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all ease 0.4s;
    color: #4fc5d3;
}

.contect i:hover {
    color: white;
}

.Aboutus {
    display: flex;
    margin-left: 800px;
    margin-top: -66px;
    cursor: pointer;

}

.Aboutus ul {
    list-style: none;
    margin-left: 50px;


}

.Aboutus li:hover {
    color: #4fc5d3;
    transition: all ease 0.7s;
}

.icon {
    margin-left: 1200px;
    margin-top: -90px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    color: black;

}

.icon i {
    margin-right: 7px;
    border: 2px solid white;
    border-radius: 90%;
    padding: 10px;
    transition: all ease 0.4s;
    background-color: #4fc5d3;
}

.icon i:hover {
    background-color: white;
}

/* ||Website Over|| */