*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    display: flex ;
    justify-content: space-around;
    align-items: center;
    padding:10px 50px 0px 50px ;
}
nav{
    display: flex;
}

